@page "/addCasette/{ATMId:int}"
@using ATMBank_.Data;
@using ATMBank_.Models;
@inject CasetteService casetteService
@inject NavigationManager NavigationManager

<h3>Tambahkan Casette</h3>

<div class="row">
    <div class="col-s4">
        <EditForm Model="@casette">
            <div class="mb-3">
                <label for="nominal" class="form-label">Masukkan Nominal:</label>
                <InputNumber id="nominal" @bind-Value="@casette.Nominal" class="form-control">
                </InputNumber>
            </div>  
            <div class="mb-3">
                <label for="jumlah" class="form-label">Masukkan Jumlah:</label>
                <InputNumber id="jumlah" @bind-Value="@casette.Jumlah" class="form-control">
                </InputNumber>
            </div>
            <button type="submit" class="btn btn-primary" @onclick="AddNewCasette">Simpan</button>
            <button type="button" class="btn btn-danger" @onclick="Cancel">Batal</button>
        </EditForm>
    </div>
</div>

@code{
    [Parameter]
    public int ATMId { get; set; }

    private Casette casette = new Casette();

    protected override void OnInitialized() 
    {         
    }

    protected async void AddNewCasette()
    {
        casette.ATMId = ATMId;
        await casetteService.AddNewCasette(casette);
        NavigationManager.NavigateTo($"detailMonitoring/{ATMId}");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo($"detailMonitoring/{ATMId}");
    }
}