@page "/inputRekening/{IdATM:int}"
@using ATMBank_.Data;
@using ATMBank_.Models;
@inject NasabahService nasabahService;
@inject NavigationManager NavigationManager

<h3 class="mb-3">Validasi Nasabah</h3>

<EditForm Model="nasabah" OnValidSubmit="handleSubmit">
	<div class="mb-3">
		<label for="rekening" class="form-label">Masukkan No Rekning Anda</label>
		<InputNumber id="jumlah" @bind-Value="@nasabah.NoRekening" class="form-control">
		</InputNumber>
	</div>
	@if (show == true)
	{
		<p><em class="text-danger">@warning</em></p>
	}
	<button type="submit" class="btn btn-primary">Masuk</button>
</EditForm>

@code {
	[Parameter]
	public int IdATM { get; set; }

	Nasabah nasabah = new Nasabah();

	public string warning = "";

	public bool show = false;

	private async void handleSubmit()
	{
		Nasabah FoundNasabah = await nasabahService.GetNasabahByNoRek(@nasabah.NoRekening);

		if (FoundNasabah is not null)
		{
			NavigationManager.NavigateTo($"tarikUang/{IdATM}/{nasabah.NoRekening}");
			show = false;
		}
		else
		{
			show = true;
			this.warning = "Akun Tidak di Temukan";
		}

	}
}
