@page "/addNasabah"
@using System
@using ATMBank_.Data;
@using ATMBank_.Models;
@inject NasabahService nasabahService
@inject NavigationManager NavigationManager

<h3>Tambahkan Nasabah</h3>

<div class="row">
    <div class="col-s4">
        <EditForm Model="@nasabah">
            <div class="mb-3">
                <label for="nominal" class="form-label">Masukkan Nama:</label>
                <InputText id="nominal" @bind-Value="@nasabah.NamaNasabah" class="form-control">
                </InputText>
            </div>
            <div class="mb-3">
                <label for="jumlah" class="form-label">Masukkan Saldo Awal:</label>
                <InputNumber id="jumlah" @bind-Value="@nasabah.Saldo" class="form-control">
                </InputNumber>
            </div>
            <button type="submit" class="btn btn-primary" @onclick="AddNewNasabah">Simpan</button>
            <button type="button" class="btn btn-danger" @onclick="Cancel">Batal</button>
        </EditForm>
    </div>
</div>

@code {
    private Nasabah nasabah = new Nasabah();

    private Random random = new Random();

    protected async void AddNewNasabah()
    {
        nasabah.NoRekening = random.Next(111, 1000);
        await nasabahService.AddNewNasabah(nasabah);
        NavigationManager.NavigateTo("nasabahList");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("nasabahList");
    }
}